
h1 {
  font-family:glyphic-serif;
  }
/* header */
header h1{
  font-size:3em;
  margin-bottom: 0;
}
#header{
  position:relative;
  background-color:#FFCCCC;
  margin:1em;
}
#header::before{
  display: block;
  position:absolute;
  left:0;
  content:"";
  width:50%;
  padding-top:2em;
  border-top:0.1em solid #996699;
  border-left: 0.1em solid #996699;
}
#header::after{
  display:block;
  position:absolute;
  right:0;
  content:"";
  width:50%;
  padding-top:2em;
  border-bottom:0.1em solid #996699;
  border-right:0.1em solid #996699;
}
ol{
  width: 16em;
  font-size:1em;
  line-height:1.5;
  padding:2em;
  border:0.15em solid #000;
  margin:1em 0;
}
/*Flexible Images*/
img{
max-width:100%;
Height:auto;
}
