html{
  font: 100%/1.15 glyphic-serif;
}
.dark{
  background-color:#000;
}
h1 {
  font-family:glyphic-serif;
  }
/* header */
header h1{
  font-size:3em;
  margin-bottom: 0;
}
#header{
  position:relative;
  background-color:#FFCCCC;
  margin:1em;
}
#header::before{
  display: block;
  position:absolute;
  left:0;
  content:"";
  width:50%;
  padding-top:2em;
  border-top:0.1em solid #996699;
  border-left: 0.1em solid #996699;
}
#header::after{
  display:block;
  position:absolute;
  right:0;
  content:"";
  width:50%;
  padding-top:2em;
  border-bottom:0.1em solid #996699;
  border-right:0.1em solid #996699;
}
nav.content{
  width: 16em;
  font-size:1em;
  line-height:1.5;
  padding:2em;
  border:0.15em solid #000;
  margin:1em 0;
}
.industry li{
  float: center;
  display: block;
  padding: 8px;
  background-color: #ddd;
}
.western h1 {
  font-family:Fantasy;
  }
p.intro{
  font-family:Comic Sans MS, Comic Sans, cursive;
  font-size:1em;
  line-height: 1em;
}
p.quotes{
  font-family:Comic Sans MS, Comic Sans, cursive;
   font-size: 1em;
  line-height: 1em;
  padding: 1em;
  border-top: 0.2em dashed #000;
  border-bottom: 0.2em dashed #000;
  margin: 1em;
}
p.link{
  font-family:san-serif;
  font-size:0.5em
}
 body{
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.grid-auto-columns{
 max-width:100%;
  height:auto;
  vertical-align: middle;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
} 
.western figure {
  margin: 0;
}
.western figcaption {
  font-size: 0.8em;
  line-height: 1.35;
  padding: 1rem;
}
p.technique{
  font-family:Palatino, URW Palladio L, serif;
  font-size: 1em;
  line-height: 1em;
  padding: 1em;
  border-top: 0.2em solid #000;
  border-bottom: 0.2em solid #000;
  margin: 1em;
  
/*Flexible Images*/
img{
max-width:100%;
Height:auto;
  width:auto;
  height:400px;
  object-fit: cover;
  object-position: 5px 10%;
  border: 5px solid #fff;
}
@media (min-width: 48em)
